@media (max-width:500px) {
    .grid{
        height: auto;
        border: 1px solid red;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 200px);
        width: 100%;    
    }
    #grid1{
        grid-row-start: 1;
        grid-row-end: 2;
       grid-column-start: 1;
       grid-column-end: 2;
    }
    #grid2{
        grid-row-start: 2;
        grid-row-end: 3;
       grid-column-start: 1;
       grid-column-end: 2;
    }
    #grid3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #grid4{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    #grid5{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    #grid6{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    #grid7{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 8;
    }
    #grid8{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 9;
    }
    #grid9{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 9;
        grid-row-end: 10;
    }
    #grid10{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 10;
        grid-row-end: 11;
    }
}
/* --------------------------------------------------------------------------------------------------- */
@media (min-width:500px) and (max-width:700px) {
    .grid{
        height: auto;
        border: 1px solid red;
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: repeat(5, 200px);
        width: 100%;    
        column-gap: 5px;
    }
    #grid1{
        grid-row-start: 1;
        grid-row-end: 2;
       grid-column-start: 1;
       grid-column-end: 2;
    }
    #grid2{
        grid-row-start: 1;
        grid-row-end: 2;
       grid-column-start: 2;
       grid-column-end: 3;
    }
    #grid3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #grid4{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #grid5{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #grid6{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #grid7{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    #grid8{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    #grid9{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    #grid10{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }

}