.grid{
    height: 600px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4, 200px);
    width: 99%;
}
#grid1{
    grid-column-start: 1;
    grid-column-end: 8;  
    grid-row-start: 1;
    grid-row-end: 2;
}
#grid2{
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;

}
#grid3{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#grid4{
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}
#grid5{
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
}
#grid6{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}
#grid7{
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;
}
#grid8{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
#grid9{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;

}
#grid10{
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 5;
}