*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
height: 100vh;
/* top: 0%; */
margin: 0%;
padding: 0%;
width: 100%;
position: relative;
}
.content img{
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 61%, 50% 100%, 0 61%);
    z-index: -1;
    filter: brightness(50%);
    height: 100%;
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
    height: 40px;
    width: 115px;
    margin-left: 150px;
    /* margin-top: 17px; */
    /* border: 1px solid black; */
    position: relative;
}
.header{
    height: 40px;
    width: inherit;
    margin-top: 10px;
}
.c-1{
    width: 40px;
    height: inherit;
    background-color: #f4f5f9;
    font-size: 34px;
    line-height: 50px;
    color: #4a4c55;
    font-weight: 700;
    text-align: center;
    margin-top: 17px;
    
}
.c-2{
    width: inherit;
    height: 40px;
    float: right;
    background-color: transparent;
    border: 3px solid #f4f5f9;
    font-size: 34px;
    line-height: 41px;
    color: #f1ebe7;
    font-weight: 300;
    margin-top: 17px;
}
header ul{
    display: inline;
    padding: 0% !important;
    margin-left: 350px;
    position: absolute;
    margin-top: 10px;
    top: 1.8%;
    left: 0%;

}
ul li{
    display: inline-block;
    margin: 0% 15px;
    font-size: 17px;
    color: #f4f5f9;
    font-weight: 300;
    margin-bottom: 30px;
    position: relative;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}
ul li:hover{
    color: #e74c3c;
    text-decoration: underline ;
}
.box{
    position: absolute;
    top: 25%;
    height: 35px;
    width: inherit;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}
.box .slider{
    width: 45px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 25px;
    border-radius: 5px;
    font-weight: 800;
    background-color: #f4f5f9;
    transition: 0.5s;
    /* padding-left: 10px; */
    margin-left: 10px;
}
.box .slider:hover{
    background-color: #e74c3c;
}
.box .c-1{
    margin-right: 10px;
    }

    #sec-1{
        margin: auto;
        width: 60%;
        text-align: center;
        position: absolute;
        top: 19%;
        left: 20%;
    }
    #sec-1 h6{
        font-size: 24px;
        color: #f4f5f9;
        font-weight: 400;
        margin-top: 50px;

        font-family: "Source Sans Pro";
    }
    #sec-1 h1{
        margin: 0%;
        font-size: 50px;
        letter-spacing: 5px;
        color: #f4f5f9;
        font-weight: 700;
        margin-top: 20px;

    }
   #sec-1 h2{
    border-bottom: 2px solid ;
    width: 100px;
    margin-left: 160px;
   }
   #sec-1 h3{
    border-bottom: 7px solid ;
    width: 7px;
    margin-top: -5px;
    border-radius: 50%;
    margin-left: 290px;
   }
   #sec-1 h4{
    border-bottom: 2px solid ;
    width: 100px;
    margin-left: 330px;
    margin-top: -5px;
   }
   #sec-1 p{
    /* font-size: 14px; */
    color: #cbc6c0;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin-top: 15px;
   }
   .but{
    width: 44%;
    margin: auto;
    text-align: left;
    margin-top: 20px;
    /* padding: 10px; */
   }
    .but.but-1{
    color: white;
    background: transparent;
    /* background-color: #e74c3c; */
   }
   .but-2{
    position: absolute;
    left: 52%;
    margin-left: 20px;
    background: transparent;
    color: white;
   }
   #sec-1 button{
    padding: 10px 10px;
   }
   #sec-1 button:hover{
    background-color: #e74c3c;;
   }
   .footer{
    display: flex;
    height: 250px;
    width: 100%;
    border: 1px solid;
    border-top: transparent;
    margin: auto;
    align-items: center;
    justify-content: space-around;
   }
   .footer .items{
    height: 230px;
    width: 20%;
    text-align: center;
   }
   .items hr{
    width: 20%;
    color: #999999;
    margin-top: 0%;
    margin-left: 80px;
   }
   .items .box-1{
    margin: 20px auto;
    border: 1px solid #e74c3c;
    height: 70px;
    width: 70px;
    text-align: center;
    transform: rotateZ('45deg');
   }
   .items h4{
    text-align: center;

   }
   .box-1 img{
    transform: rotateZ('-45deg');
    margin: -30px;
   } 
   .items h4{
    text-align: center;
    color: #999999;
   }
   .items span{
    line-height: 20px;
    color: #999999;
    font-weight: 300;
    font-family: 'Source sans pro' ;
   }