body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}
.navbar{
    display: flex;
}
.logo{
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar ul{
    list-style: none;
    margin-left: 35%;
    margin-top: 25px;
}
.navbar ul li{
    display: inline;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.img1 img{
    width: 100%;
    margin: 0%;
}
.img1 h1{
    text-align: center;
    margin-top: -25%;
    font-family: Arial, Helvetica, sans-serif;
}
.img1 p{
    text-align: center;
    width: 30%;
    margin-left: 35%;
    font-family: Arial, Helvetica, sans-serif;
}
#create{
    width: 100%;
    margin-top: 18%;
}
#create .heading h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#create .heading p{
    text-align: center;
    width: 30%;
    margin-left: 35%;
    font-family: Arial, Helvetica, sans-serif;
}
.cd{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    border: none;
    background-color: transparent;
}
.cd1{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    height: 50px;
    width: 190px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 42%;
    margin-top: 2%;
    background: gray;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    
}
button a{
    color: white;
    text-decoration: none;

    
}
#create1{
    width: 100%;
    margin-top: 8%;
    background-color: #F6EBE7;
}
#create1 .heading1 h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#create1 .heading1 p{
    text-align: center;
    width: 30%;
    margin-left: 35%;
    font-family: Arial, Helvetica, sans-serif;
}
.cd2,
.cd3 {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
#create2{
    width: 100%;
    margin-top: 8%;
}
#create2 .heading2 h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#create2 .heading2 p{
    text-align: center;
    width: 30%;
    margin-left: 35%;
    font-family: Arial, Helvetica, sans-serif;
}
.cd4,
.cd5{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
#create3{
    width: 100%;
    margin-top: 8%;
    background-color: #F6EBE7;
}
#create3 .heading3 h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#create3 .heading3 p{
    text-align: center;
    width: 30%;
    margin-left: 35%;
    font-family: Arial, Helvetica, sans-serif;
}
.cd6,
.cd7{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
#create4{
    margin-top: 5%;
}
#create4 .heading4 h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#create4 .heading4 p{
    text-align: center;
    width: 30%;
    margin-left: 35%;
    font-family: Arial, Helvetica, sans-serif;
}
.cd8,
.cd9{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    height: 18rem;
    width: 100%;
    background-color: rgb(222, 218, 213);
}
footer h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
} 
#ftr{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
}
.ft1 ul li{
    margin-left: -40px;
}
.ft2 .fa-google-play{
    font-size: 30px;
}
.ft4 h4{
    margin-left: 40px;
}
li{
    list-style: none;
}